@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomePage</title>
    <link rel="stylesheet" href="~/css/HomePage.css">
</head>
<body>
    <div class="container-donate p " style="margin-top:10px;">
        <img src="/Image/donate-img-1024x512.jpg" class="img-fluid" alt="" width="100%">
        <p class="text-over-img col-3">
            <span class="bankAlkheer p">Bank AL-Kheer</span><br>
            Have you ever asked yourself what is the right thing to do with your unused clothes??<br>didn't you ask yourself how much it is worth to others??<br>Because of that, the Clothes Bank website makes these things easier for you, more convenient and efficient by providing a service of donating clothes and receiving them over the phone!
            <br><button type="button" class="btn btn-secondary btn-sm btn-donate">Donate</button>
        </p>
    </div>
    <hr class="text1">
    <!--your project section -->
    <div class="container-donate mt-5 mb-5 ms-0 me-0">
        <div class="row">

            <div class="container-fluid col-3 col-lg-4 mt-lg-5 mt-md-4 mt-sm-3 mt-2" style="display: inline-block;">
                <img src="/Image/MicrosoftTeams-image (1).png" class="img-fluid " alt="" height="50px" width="250px">
            </div>
            <div class="container-fluid col-3 col-lg-4 mb-lg-5 mb-md-4 mb-sm-3 mb-2  yourProject" style="display: inline-block;">
                <p>
                    IS YOUR PROJECT JUST LIMITED TO CLOTHES ?
                    Actually yeah,many people get rid of their clothes in the wrong way, such as throwing clothes in the garbage, and at the same time there are people who cannot get or buy a piece of clothes, so we decided to make this website that allows users to donate clothes or get it at any time and in an easy and convenient way
                </p>
            </div>
            <div class="container-fluid col-3 col-lg-4 mt-lg-5 mt-md-4 mt-sm-3 mt-2 ms-3" style="display: inline-block;">
                <img src="/Image/MicrosoftTeams-image.png" class="img-fluid" alt="" height="150px" width="250px">
            </div>
        </div>
    </div>
    <hr class="text2">
    <!-- What distinguishes your project from similar projects? section-->
    <div class="container-donate mt-5 mb-5 ">
        <div class="row">
            <div class="container-fluid col-3 mt-lg-5 mt-md-4 mt-sm-3 mt-2 distinguishes" style="display: inline-block;">
                <p><h6>"1"</h6><br>The detonator can donated from his home without waste time and money.</p>
            </div>
            <div class="container-fluid col-3 mb-lg-5 mb-md-4 mb-sm-3 mb-2 distinguishes" style="display: inline-block;">
                <p><h6>"2"</h6><br> adopted the idea of targeting people in need of donations directly , which confirms the benefit if all donations.</p>
            </div>
            <div class="container-fluid col-3 mt-lg-5 mt-md-4 mt-sm-3 mt-2 distinguishes" style="display: inline-block;">
                <p><h6>"3"</h6><br>Our project is purely charitable, as after the donations are collected, cleaned and prepared, it is not possible to sell even one piece.</p>
            </div>
        </div>
    </div>
    <!--Our team section -->
    <div class="container-donate ourTeam">
        <img src="/Image/Team.jpeg" class="img-fluid mb-0" alt="" style="object-position: bottom;z-index: -1;" width="100%">
        <div class="captionOurTeam styleOurTeam">
            <h1>Our Team</h1>
            <p>
                Our team of 5 ​software engineers:Abdel Rahman Ziadeh, Osaid Mansour Al-Dalqmouni, Reem Ahmad Al-Assi, Shahed Khaled Al-Jaber,
                Tariq Jawad Amirah
                Which was supported and supervised by the Hashemite University
            </p>
        </div>
    </div>
    <!--About and contact us section -->
    <footer class="bd-footer py-0 mt-5 ">
        <div class="container py-0">
            <div class="row">
                <div class="col-lg-1 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
                        <img src="/Image/al-kHEER_bank__1_-removebg-preview.png" alt="" height="100px" width="100px">
                    </a>
                </div>
                <div class="col-6 col-lg-3 offset-lg-1 mb-3">
                    <h5>Al-Kheer Bank</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">Amman-Jordan</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 mb-3">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="tjat7607@gmail.com" style="text-decoration: none;"><img src="/Image/gmail_icon_vecteezy_transparent_generated-removebg-preview.png" class="img-fluid" alt="" width="40" height="40"></a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 mb-3">
                    <h5>About</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="" style="text-decoration: none;">Terms & Conditions</a></li>
                        <li class="mb-2"><a href="" style="text-decoration: none;">Privacy Policy</a></li>
                    </ul>
                </div>
                </div>
                </div>
    </footer>
    </body>
    </html>
